* {
  font-family: sans-serif;
}

.page-wrapper {
  padding: 5px 35px 25px 35px;
  font-size: 15px;
}

.header {
  margin-bottom: 10px;
}

.logs {
  font-family: monospace;
  white-space: pre;
  margin: 1em 0;
  overflow-y: scroll;
}

.logs-wrapper {
  overflow-y: scroll;
  height: calc(100vh - 13em);
}

input,
label,
button {
  font-size: 20px;
}

input[type="checkbox"] {
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
  transform: scale(1.5);
  padding: 10px;
}

.form-wrapper {
  display: inline-block;
}

#stop-logs {
  position: fixed;
  bottom: 25px;
  right: 25px;
}

.loader {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #3498db;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
