<!DOCTYPE html>
<html>
  <link
    rel="stylesheet"
    type="text/css"
    href="{{ url_for('static',filename='styles.css') }}"
  />

  <body>
    <div class="page-wrapper">
      <h1>Stream logs from remote server</h1>
      <form
        id="stream-log-form"
        onsubmit="event.preventDefault(); handleSubmit();"
      >
        <label for="fname">Host:</label>
        <input type="text" id="host" name="host" />

        <label for="fname">File Location:</label>
        <input type="text" id="file-location" name="file-location" />

        <button>Get Logs</button>
      </form>

      <div>
        <code>
          <pre id="logs"></pre>
        </code>
      </div>
      <div class="loader"></div>
    </div>
    <button id="stop-logs" onclick="stopLogs()">Stop Logs</button>

    <script src="{{url_for('static', filename='index.js')}}"></script>
  </body>
</html>
