<!DOCTYPE html>
<html>
  <link
    rel="stylesheet"
    type="text/css"
    href="{{ url_for('static',filename='styles.css') }}"
  />

  <body>
    <div class="page-wrapper">
      <div class="header">
        <h1>Stream logs from remote server</h1>
        <form
          id="stream-log-form"
          onsubmit="event.preventDefault(); handleSubmit();"
        >
          <div class="form-wrapper host-wrapper">
            <label for="fname">Host:</label>
            <input type="text" id="host" name="host" />
          </div>

          <div class="form-wrapper">
            <label for="fname">File Location:</label>
            <input type="text" id="file-location" name="file-location" />
          </div>
          <button>Get Logs</button>

          <div>
            <label for="fname">Local:</label>
            <input type="checkbox" id="is-local" onchange="toggleHost()" />
          </div>
        </form>
      </div>

      <div class="logs-wrapper">
        <code>
          <pre class="logs"></pre>
        </code>
      </div>
      <div class="loader"></div>
    </div>
    <button id="stop-logs" onclick="stopLogs()">Stop Logs</button>

    <script src="{{url_for('static', filename='index.js')}}"></script>
  </body>
</html>
